In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("new_data_office.csv")

In [3]:
dataset

,Unnamed: 0,date,chat,time,messager
0,1,9/17/23,🙏🙏🙏,2:20 PM,+91 96000 29515
1,2,9/17/23,Many more happy returns of the day Anil 💐💐💐,2:20 PM,+91 96000 29515
2,3,9/17/23,Happy Birthday Anil 🥳🎉🥰,2:21 PM,+91 63697 77039
3,4,9/17/23,Thank you sir,2:23 PM,+91 90429 04253
4,5,9/17/23,Many more happy returns of the day Anil 💐💐💐💐🎂🎂🎂🎂,2:23 PM,Kumar IT Vcare
...,...,...,...,...,...
5983,6842,2/6/25,Belated Happy Birthday @917397778410,2:21 PM,Vinoth Sankar
5984,6845,2/6/25,Belated Happy Birthday @⁨Dhanasekar⁩,5:18 PM,Raja Vcare
5985,6846,2/6/25,Thousands of thanks to all.🙏😍,5:59 PM,+91 95662 86282
5986,6847,2/6/25,Thank you sir,6:58 PM,Dhanasekar Vcare
5987,6848,2/7/25,<Media omitted>,1:29 PM,+91 80156 90056

# 1 now lets import sentiment analysis using textblob method

In [4]:
#!pip install textblob

In [5]:
from textblob import TextBlob as tb

In [7]:
sentiment=dataset["chat"].apply(lambda x:"positive" if tb(str(x)).sentiment.polarity>0
                                else "negative" if tb(str(x)).sentiment.polarity<0 
                                        else"neutral" )
score=dataset["chat"].apply(lambda x: tb(str(x)).sentiment.polarity)
#this is thee polaritz or the sentiment ofthat text
                                 

 # lambda dont support elif and supports only if else loop 
    #jus give lambda x : only one time

In [8]:
# so wats happening above is instead of using for loop on all rows we r using .apply(lambda x:....)
# where .apply(..) applies to every row in that particular column
# lambda x: means we r asking it do sentimental analysis on each value in dataset[chat] where x is each value in col chat
# values r positve,negative,neutral
# and the analysis will happen only if we convert the string(x) to TextBlob
# .sentiment.polarity analyses the sentimenton x and works together after conversion to TextBlob

In [9]:
dataset["sentiment"]=sentiment
dataset["scores"]=score

In [10]:
dataset

,Unnamed: 0,date,chat,time,messager,sentiment,scores
0,1,9/17/23,🙏🙏🙏,2:20 PM,+91 96000 29515,neutral,0.0
1,2,9/17/23,Many more happy returns of the day Anil 💐💐💐,2:20 PM,+91 96000 29515,positive,0.6
2,3,9/17/23,Happy Birthday Anil 🥳🎉🥰,2:21 PM,+91 63697 77039,positive,0.8
3,4,9/17/23,Thank you sir,2:23 PM,+91 90429 04253,neutral,0.0
4,5,9/17/23,Many more happy returns of the day Anil 💐💐💐💐🎂🎂🎂🎂,2:23 PM,Kumar IT Vcare,positive,0.6
...,...,...,...,...,...,...,...
5983,6842,2/6/25,Belated Happy Birthday @917397778410,2:21 PM,Vinoth Sankar,positive,0.8
5984,6845,2/6/25,Belated Happy Birthday @⁨Dhanasekar⁩,5:18 PM,Raja Vcare,positive,0.8
5985,6846,2/6/25,Thousands of thanks to all.🙏😍,5:59 PM,+91 95662 86282,positive,0.2
5986,6847,2/6/25,Thank you sir,6:58 PM,Dhanasekar Vcare,neutral,0.0
5987,6848,2/7/25,<Media omitted>,1:29 PM,+91 80156 90056,neutral,0.0

# 2 now lets do it using nltk method

In [11]:
#!pip install nltk

# it is a natural language tool kit library
# used for tokenisation, sentiment analysis, word tagging etc

In [12]:
import nltk
#nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# vader is an inbuilt sentiment analysis tool used in chats .it handles emojis,slangs etc
# and is fast and no prior traing is required.

# we r using vader to get compound scores,thefinal sentiment score.

In [13]:
sia=SentimentIntensityAnalyzer()

In [14]:
sia_scores=dataset["chat"].apply(lambda x: sia.polarity_scores(str(x)))

# here wats happening is polarity_scores from sia is beign found for every x using .apply(lambda x:...)

In [15]:
sia_scores# we get a series.

0       {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1       {'neg': 0.0, 'neu': 0.667, 'pos': 0.333, 'comp...
2       {'neg': 0.0, 'neu': 0.448, 'pos': 0.552, 'comp...
3       {'neg': 0.0, 'neu': 0.444, 'pos': 0.556, 'comp...
4       {'neg': 0.0, 'neu': 0.667, 'pos': 0.333, 'comp...
                              ...
5983    {'neg': 0.0, 'neu': 0.448, 'pos': 0.552, 'comp...
5984    {'neg': 0.0, 'neu': 0.448, 'pos': 0.552, 'comp...
5985    {'neg': 0.0, 'neu': 0.58, 'pos': 0.42, 'compou...
5986    {'neg': 0.0, 'neu': 0.444, 'pos': 0.556, 'comp...
5987    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: chat, Length: 5988, dtype: object

In [16]:
new=sia_scores.apply(pd.Series) # here wats happening we got a series of dictionary and wen u want to convert that to values with
#seperate columns then u do that_dict.apply(pd.series)

In [17]:
new_data=pd.concat([dataset,new],axis=1)# this joins the table and the series new. 
# we can join 2 or more table or 2 or more series or tables and series.

In [18]:
new_data# so now we get the compound value of each emotion also which will bee btw -1 to +1

# compound score is the normalised sum of score s which gives the final sentiment score 
#<.05 neg,>.05 pos btw neutral

,Unnamed: 0,date,chat,time,messager,sentiment,scores,neg,neu,pos,compound
0,1,9/17/23,🙏🙏🙏,2:20 PM,+91 96000 29515,neutral,0.0,0.0,1.000,0.000,0.0000
1,2,9/17/23,Many more happy returns of the day Anil 💐💐💐,2:20 PM,+91 96000 29515,positive,0.6,0.0,0.667,0.333,0.6115
2,3,9/17/23,Happy Birthday Anil 🥳🎉🥰,2:21 PM,+91 63697 77039,positive,0.8,0.0,0.448,0.552,0.5719
3,4,9/17/23,Thank you sir,2:23 PM,+91 90429 04253,neutral,0.0,0.0,0.444,0.556,0.3612
4,5,9/17/23,Many more happy returns of the day Anil 💐💐💐💐🎂🎂🎂🎂,2:23 PM,Kumar IT Vcare,positive,0.6,0.0,0.667,0.333,0.6115
...,...,...,...,...,...,...,...,...,...,...,...
5983,6842,2/6/25,Belated Happy Birthday @917397778410,2:21 PM,Vinoth Sankar,positive,0.8,0.0,0.448,0.552,0.5719
5984,6845,2/6/25,Belated Happy Birthday @⁨Dhanasekar⁩,5:18 PM,Raja Vcare,positive,0.8,0.0,0.448,0.552,0.5719
5985,6846,2/6/25,Thousands of thanks to all.🙏😍,5:59 PM,+91 95662 86282,positive,0.2,0.0,0.580,0.420,0.4404
5986,6847,2/6/25,Thank you sir,6:58 PM,Dhanasekar Vcare,neutral,0.0,0.0,0.444,0.556,0.3612
5987,6848,2/7/25,<Media omitted>,1:29 PM,+91 80156 90056,neutral,0.0,0.0,1.000,0.000,0.0000